<!DOCTYPE html>
<html>
  <head>
    <title>Code4Pro</title>
    <%= csrf_meta_tags %>
      <%= yield :head  %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render partial: "shared/header" %>
    <%= render partial: "shared/message" %>




    <main>
      <div class="container">
      <%= yield %>
      </div>
    </main>

    <%= render partial: "shared/footer" %>

  </body>
  <script>
    $(".button-collapse").sideNav();
    $(".dropdown-button").dropdown();
  </script>
</html>
